body {
    display: flex;
    flex-direction: column;
}


html {
  scroll-behavior: smooth;
}


.header {
    display: flex;
    justify-content: space-between;
    margin-left: 50px;
    margin-right: 50px;
    color: #FFFFFF;
    background-color: #2f8696;
    border-radius: 8px;
    align-items: center;
    padding: 30px;
    font-family:  'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 34px;
    padding-left: 4%;
    padding-right: 5%;
    border: rgb(0,0,0) solid 5px;
    height: 75px;
}


.header a {
    color: #ffffff;
    text-decoration: none;
}

.headerbuttons {
    display: flex;
    justify-content: space-around;
    gap: 50px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, 'bold';
    font-size: 21px;  
    text-align: center;
    align-items: center;
    cursor: pointer;
    font-weight: bold;
}


.header a {
    transition: transform 0.2s ease, box-shadow 0.2s ease, text-shadow 0.2s ease, drop-shadow 0.2s ease;
    display: inline-block;
}

.header a:hover, .header a:hover::after {
    display: inline;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
    transform: translateY(-3px);
    content: "!!!";
}

